/* KS/Must */

@import url("http://fonts.googleapis.com/css?family=Bitter:400,700");

body
{
	background-color: black;
	color: white;
	font-family: 'Bitter', serif;
	margin-bottom: 100px;
}

header
{
	text-align: center;
}


section
{
	text-align: center;
	margin-right: 30px;
	margin-bottom: 4px;
}

section > *
{
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
section > h2
{
	display: inline-block;
	position: relative;
	top: -16px;
	width: 30px;
	
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
}