$margin: 20px;
$dark-text-color: #555;
$darker-text-color: #333;
$light-text-color: #999;
$text-color: #777;
$layout-break-large-width: 1000px;

@import url(http://fonts.googleapis.com/css?family=Play:400,700);

html {
  height: 100%;
}

body {
  background-color: black;
  color: #eee;
  font-family: 'Play', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

header {
  background-color: #111;
  padding: $margin/2;
  color: $dark-text-color;

  &:HOVER {
    color: $light-text-color;
  }

  h1 {
    font-size: 1.6em;
  }

  nav {
    margin-top: $margin;

    ul {
      list-style: none;
      padding-left: 0px;
      margin-top: $margin/4;

      li {
        display: inline-block;

        a {
          text-decoration: none;
          color: inherit;

          &:HOVER {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

h1, h2, h3 {
  margin: 0px;
}

section {
  padding: $margin/2;

  article {
    position: relative;
    display: block;
    
    .cover {
      display: block;
      text-align: center; 
      vertical-align: middle;
      position: relative;
      max-height: 90%;
      top: 5%;

      img {
        box-sizing: border-box;
        width: 100%;
      }
    }

    .card {
      display: block;
      background-color: black;
      color: $text-color;
      vertical-align: top;

      position: relative;

      & > * {
        display: block;
        margin-bottom: 10px;
      }

      h2 {
        color: $light-text-color;
      }
      h3 {
        color: $dark-text-color;
        font-size: 1em;
        font-weight: normal;
      }

      figure {
        margin: 0;

        blockquote {
          margin: 0;
          font-style: italic;
        }
      }

      a {
        color: inherit;
        text-decoration: none;

        &:HOVER {
          text-decoration: underline;
        }
      }
    }
  }

  h1 {
    margin-top: $margin/2;
    margin-bottom: 0;
    font-size: 1.6em;
    text-transform: uppercase;
    position: relative;
    color: $dark-text-color;
  }

  form {
    margin-top: $margin;
    
    label {
      display: inline-block;
      width: 150px;
    }
    input[type=submit] {
      margin-top: $margin;
    }
  }
}

@media screen and (min-width: $layout-break-large-width) {
  header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 100%;

    nav {
      ul {
        li {
          display: block;
        }
      }
    }
  }

  section {
    margin-left: 240px;
    min-height: 100%;
    padding: 0;

    h1 {
      left: -50px;
    }

    article {
      position: relative;
      display: block;
    
      .cover {
        display: inline-block;  
        width: 60%; 

        img {
          width: auto;
          max-height: 90%;
          margin-top: 5%;
          margin-bottom: 5%;
        }
      }

      .card {
        display: inline-block; 
        max-height: 90%;
        max-width: 30%;
        margin-top: 5%;
        padding: $margin;
      }
    }
  }
}