%header
  %h1 MUST#ALL
  %nav
    Me
    %ul
      %li 
        %a{:href => "?filter=list&scope=me"} # List
      %li
        %a{:href => "?filter=favs&scope=me"} # Favs
      %li
        %a{:href => "?filter=next&scope=me"} # Next
  %nav
    Circle
    %ul
      %li 
        %a{:href => "?filter=list&scope=circle"} # List
      %li
        %a{:href => "?filter=favs&scope=circle"} # Favs
      %li
        %a{:href => "?filter=next&scope=circle"} # Next