:plain
  <?php
    namespace Must;
  ?>
%section.list
  :plain
    <?php
      require_once 'model/Member.php';

      $filter = 'list';
      if (isset($_GET['filter']))
        $filter = $_GET['filter'];
      $scope = 'me';
      if (isset($_GET['scope']))
        $scope = $_GET['scope'];
      $tagFilter = null;
      if (isset($_GET['tag']))
        $tagFilter = $_GET['tag'];
      $typeFilter = null;
      if (isset($_GET['type']))
        $typeFilter = $_GET['type'];

      $member = new Member($_SESSION['memberName']);
      if ($filter == 'favs')
        $items = $member->favs;
      else if ($filter == 'next') 
        $items = $member->next;
      else
        $items = $member->library;

      echo '<h1>'.ucfirst($scope).'/'.ucfirst($filter).'</h1>';

      foreach($items as $itemEntry) {
        $item = json_decode(file_get_contents('data/items/'.$itemEntry->path.'.json'));

        if (!is_null($tagFilter) && !in_array($tagFilter, $item->tags))
          continue;
        if (!is_null($typeFilter) && $typeFilter != $item->type)
          continue;

        $imageURL = 'data/images/'.$item->imagePath.'.jpg';
    ?>
  %article
    .cover
      <img src="<?php echo $imageURL; ?>">
    .card
      %h2 <?php echo $item->title ?>
      .general <a href="?type=<?php echo $item->type ?>"><?php echo $item->type ?></a>, <?php echo $item->year ?>
      .authors by <?php echo implode(', ', $item->authors); ?>
      //.pubdate Pub date
      //.description Description
      .comments
        %h3 Comments
        <?php if(isset($item->comments)) foreach($item->comments as $comment) echo '<figure><figcaption>'.$comment->author.':</figcaption><blockquote>'.$comment->content.'</blockquote></figure>'; ?>
      .tags 
        %h3 Tags
        <?php foreach($item->tags as $tag) echo '# <a href="?tag='.$tag.'">'.$tag.'</a><br/>'; ?>
      .links
        %h3 Links
        <?php foreach($item->links as $linkName => $linkURL) echo '&gt; <a href="'.$linkURL.'">'.$linkName.'</a><br />'; ?>
      .related 
        %h3 Related
        <?php foreach($item->related as $related) echo '~ <a>'.$related.'</a><br />'; ?>
  :plain
    <?php
        echo '</div>';
      }
    ?>
