<section class="edit">
        <h2>New&nbsp;User</h2>
        <form method="POST" action="index.php">
            <div>
                <label for="username">Username</label>
                <input name="username" id="username" />
            </div>
            <div>
                <div>
                    <label for="password">Password</label>
                    <input name="password" type="password" id="password" />
                </div>
                <div>
                    <label for="password2">Confirmation</label>
                    <input name="password2" type="password" id="password2" />
                </div>
            </div>
            <div>
                <input type="submit" value="Register" />
            </div>
        </form>
    </section>