<section class="edit">
    <h2>Edit&nbsp;Next&nbsp;Selection</h2>
    <form method="post">
        <div>
            <div>
                <label for="s-1-artist">Artist</label>
                <input type="text" name="s-1-artist" id="s-1-artist" value="[S-1-ARTIST]" />
            </div>
            <div>
                <label for="s-1-title">Title</label>
                <input type="text" name="s-1-title" id="s-1-title" value="[S-1-TITLE]" />
            </div>
            <div>
                <label for="s-1-coverURL">Cover URL</label>
                <input type="url" name="s-1-coverURL" id="s-1-coverURL" value="[S-1-COVER-URL]" />
            </div>
            <div>
                <label for="s-1-playURL">Play URL</label>
                <input type="url" name="s-1-playURL" id="s-1-playURL" value="[S-1-PLAY-URL]" />
            </div>
        </div>
        <div>
            <div>
                <label for="s-2-artist">Artist</label>
                <input type="text" name="s-2-artist" id="s-2-artist" value="[S-2-ARTIST]" />
            </div>
            <div>
                <label for="s-2-title">Title</label>
                <input type="text" name="s-2-title" id="s-2-title" value="[S-2-TITLE]" />
            </div>
            <div>
                <label for="s-2-coverURL">Cover URL</label>
                <input type="url" name="s-2-coverURL" id="s-2-coverURL" value="[S-2-COVER-URL]" />
            </div>
            <div>
                <label for="s-2-playURL">Play URL</label>
                <input type="url" name="s-2-playURL" id="s-2-playURL" value="[S-2-PLAY-URL]" />
            </div>
        </div>
        <div>
            <div>
                <label for="s-3-artist">Artist</label>
                <input type="text" name="s-3-artist" id="s-3-artist" value="[S-3-ARTIST]" />
            </div>
            <div>
                <label for="s-3-title">Title</label>
                <input type="text" name="s-3-title" id="s-3-title" value="[S-3-TITLE]" />
            </div>
            <div>
                <label for="s-3-coverURL">Cover URL</label>
                <input type="url" name="s-3-coverURL" id="s-3-coverURL" value="[S-3-COVER-URL]" />
            </div>
            <div>
                <label for="s-3-playURL">Play URL</label>
                <input type="url" name="s-3-playURL" id="s-3-playURL" value="[S-3-PLAY-URL]" />
            </div>
        </div>
        <div>
            <input type="submit" name="" value="Update" />
        </div>
    </form>
</section>