<section class="edit">
    <h2>Edit&nbsp;Next&nbsp;Selection</h2>
    <form method="post">
        <div>
            <div>
                <label>Artist</label>
                <input type="text" name="" value="" />
            </div>
            <div>
                <label>Title</label>
                <input type="text" name="" value="" />
            </div>
            <div>
                <label>Cover URL</label>
                <input type="url" name="" value="" />
            </div>
        </div>
        <div>
            <div>
                <label>Artist</label>
                <input type="text" name="" value="" />
            </div>
            <div>
                <label>Title</label>
                <input type="text" name="" value="" />
            </div>
            <div>
                <label>Cover URL</label>
                <input type="url" name="" value="" />
            </div>
        </div>
        <div>
            <div>
                <label>Artist</label>
                <input type="text" name="" value="" />
            </div>
            <div>
                <label>Title</label>
                <input type="text" name="" value="" />
            </div>
            <div>
                <label>Cover URL</label>
                <input type="url" name="" value="" />
            </div>
        </div>
        <div>
            <input type="submit" name="" value="Update" />
        </div>
    </form>
</section>