<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
        <title>Keres-Sy / Must</title>
        <link rel="stylesheet" type="text/css" href="css/general.css"/>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
	       <h1>
	           <a href="index.php">
	               Must
	           </a>
	       </h1>
	       <div>
	           <a href="edit.php">
    	           <img src="img/icons/gear.png" alt="gear" id="gear" onclick="toggle_form();"/>
    	       </a>
	       </div>
	    </header>