<section class="selection">
            <h2>@[USERNAME]</h2>
            
            <div class="album">
                <img [S-1-COVER-URL]/>
                <div class="metadata">
                    <span class="artist">[S-1-ARTIST]</span><br/>
                    <span class="title">[S-1-TITLE]</span>
                    [S-1-PLAY-URL]
                </div>
            </div>
            <div class="album">
                <img [S-2-COVER-URL]/>
                <div class="metadata">
                    <span class="artist">[S-2-ARTIST]</span><br/>
                    <span class="title">[S-2-TITLE]</span>
                    [S-2-PLAY-URL]
                </div>
            </div>
            <div class="album">
                <img [S-3-COVER-URL]/>
                <div class="metadata">
                    <span class="artist">[S-3-ARTIST]</span><br/>
                    <span class="title">[S-3-TITLE]</span>
                    [S-3-PLAY-URL]
                </div>
            </div>
        </section>